html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.entry-content .wp-block-group.scroll-y {
    min-height: 100vh;
    scroll-snap-align: start;
    animation-name: scrollFadeIn;
    opacity: 0;
    transform: translateY(5vh);
}

@keyframes scrollFadeIn {
    from {
      opacity: 0;
      transform: translateY(5vh);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }