/* Vollkorn Font - 400-900 normal and italic */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    font-family: 'Vollkorn', serif;
}

.entry-content .wp-block-group.scroll-y {
    min-height: 100vh;
    scroll-snap-align: start;
    animation-name: scrollFadeIn;
    opacity: 0;
    transform: translateY(5vh);
}

@keyframes scrollFadeIn {
    from {
      opacity: 0;
      transform: translateY(5vh);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }